header{
  text-align: center;
  font-size: 50px;
}
#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article{
  margin: 10px;
  padding: 10px ;
  border: 2px solid #0b5ed7;
  border-radius: 10px;
}
img{
  border-radius: 10px;
}
p{
  font-size: 20px;
}